@charset "utf-8";
/* css 변수 */
:root {
    --base-text-dark: #333;
    --base-text-white: #fff;
    --base-bg-white: white;
    --base-bg-dark: #efefef;
    --main-color1: #92C120;
    --main-color2: #F18F01;
    --main-color3: #027BA4;
    --base-font-size: 16px;
    --bar-bg-color: #019ED3;
}
body {
    font: 16px/1.5 "Noto Sans KR";
    color: var(--base-text-color);
}
a, a:link {
    color: inherit;
    text-decoration: none;
}
.d-none {
    display: none;
}
section {
    margin: 0 3rem;
}

@media screen and (max-width: 480px){
    html {
        height: 100vh; /* 또는 100%, vh:viewport height */
    }
    body {
        background: linear-gradient(to bottom, #fff, #EEF5FF);
    }
    
    .header-top{
        background: var(--bar-bg-color);
        height: 60px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;

    }
    .top-wrap{
        height: 60px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
    }
    .top-wrap > li {
        height: 30px;
        color: var(--base-text-white);
    }
    .logo {
        width: 250px;
        height: 160px;
        /* margin: 100px auto; */
        margin: 110px auto 50px;
    }
    .btns {
        display: flex;
        flex-direction: column; /* 상하배치 */
        width: 60vw;
        margin: 0 auto;
        padding: 100px 0;
    }
    button {
        height: 75px;
        font-size: 25px;
        color: white;
        border: 0;
        border-radius: 50px;
        margin: 0 0 2rem 0;
        padding-left: 40px;
    }
    #make_num5 {
        background: #3A70FA url("../images/x5.png") no-repeat 5% center;
    }
    #make_num1 {
        background: #3A70FA url("../images/x1.png") no-repeat 5% center;
    }
    footer {
        position: fixed;
        height: 40px;
        bottom: 0;
        left: 0;
    }
    .links {
        display: flex;
        width: 100vw;
        padding: 0 8%;
        box-sizing: border-box;
        justify-content: space-between;
        font-size: 18px;
        color: #7B7B79;
    }
    /*-----------side pannel------------------- */
    #sidePannel {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 999;
        top: 60px;
        left: 0;
        background: rgba(0, 0, 0, .5);

    }
    #closeSide {
        background: #027BA4;
        color: var(--base-text-white);
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        position: absolute;
        right: 0;
        top: -60px;
    }
    .pannel-overlay {
        background: #262626;
        width: 50%;
        height: 100%;
        margin: 0 0 0 50%;
        overflow: hidden;
    }
    .pannel-overlay nav {
        color: var(--base-text-white);
        padding: 0 20%;
    }
    #snb > li {
        margin: 2rem 0;
        position: relative;
    }
    #snb > li::after {
        content: "+";
        display: inline;
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        font-size: 14px;
    }
    #snb > li > a { /* 메뉴항목이 포함된 범위 전체 클릭가능 */
        display: block;
    }
    .icon-links {
        display: flex;
        justify-content: center;
        column-gap: 1rem;
        font-size: 20px;
    }
    /*-----------mobile section------------------- */
    .section-title {
        text-align: center;
        font-size: 1.25rem;
        margin: 0 0 1.5rem;
    }
    /*-----------mobile section : login page------------------- */
    #loginForm li, #registerForm li {
        position: relative;
        margin: 0 0 1.5rem 0;
    }
    #loginForm li input, #registerForm li input {
        text-indent: 20%;
        border: 0;
    }
    #loginForm li label, #registerForm li label {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        color: #7B7B79;
    }
    #userId, #userPw, [type=submit] {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgb(0, 0, 0, .2);
    }
    #loginForm li input[type=submit], #registerForm li input[type=submit] {
        background: #027BA4;
        color: var(--base-text-white);
        text-indent: 0;
        margin-bottom: 1rem;
        font-size: var(--base-font-size);
    }
    #loginForm li p {
        text-align: center;
    }
    .sns-icons {
        display: flex;
        justify-content: center;
        column-gap: 50px;
        margin: 1rem 0 0 0;
        font-size: 2.5rem;
    }
    /*-----------mobile section : register page------------------- */
    #registerForm li #userSecurity {
        width: 60%;
        height: 50px;
        border-radius: 10px;
        text-indent: 40%;
        
        box-shadow: 0 0 10px 0 rgb(0, 0, 0, .2);
    }
    #registerForm li #clickSecurity {
        display: inline-block;
        line-height: 52px;
        border-radius: 10px;
        height: 52px;
        width: 36%;
        margin: 0 0 0 1%;
        text-align: center;
        vertical-align: middle;
        color: var(--base-text-white);
        border: 1px solid var(--main-color1);
        background: var(--main-color1);
    }
    label[for=userPrivacy] {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .warn {
        color: red;
        position: absolute;
        right: 0;
    }
    
    /*-----------mobile section : customer page------------------- */
    .icon-list {
        display: grid;
        margin: 0 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        /* fraction : 비율(공간) */
        gap: 1rem;
    }
    .icon-list li {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
        min-height: 100px;
        border-radius: 10px;
    }
    .icon-list li:hover {
        background: var(--main-color1);
        color: var(--base-text-white);
        transform: scale(1.2);
        transition: all ease-in-out .3s;
    }
    .icon-list li a {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}